@charset "UTF-8";

body{
    background-color: rgb(167, 167, 255) 
}

h1{
    color: white;
    font-size: 25px;
    text-align: center;
}

.container{
    text-align: center;
}

.botoes{
    text-align: center;
    padding: 10px 20px ;
}

#SIM{
    height: 30px;
    width: 50px;
    background-color: white;
    border: rgb(0, 0, 109);
}

#NÃO{
    height: 30px;
    width: 50px;
    background-color: white;
    border: rgb(0, 0, 109);
}
